body {
	background-color:#666666;
	margin:10px 25px;
	font-family:Helvetica, Arial, sans-serif;
}

#content {
	background-color:#FFFFFF;
	border: 10px solid #CCCCCC;
	padding:10px 10px 20px 10px;
}

#notification {
	background-color:#CFCFCF;
	border: 5px solid #9C9C9C;
	margin:10px 0;
	padding:5px;
}

form {
	display:inline;
}

ul {list-style:none;}

.animation { list-style-image: url('/images/ajax-loader.gif'); }

#incomplete_items .handle{ cursor:move; }
